.container {
  display: none;
}
nav.mobile
{
  background: lightblue;
  width: 100%;
  height: 64px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
