/* Universal styles */
html {
    font-family: "Helvetica";
    font-size: 16px;
    color: #333;
}
.container {
    width: 95%;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
}
h2 {
    font-size: 2rem;
    font-weight: bold;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
h4 {
    font-size: 1.25rem;
    font-weight: bold;
}
.coursetitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 16px;
}
.courses {
  font-size: 1.1rem;
  margin: 8px 0px;
}
.quote {
  font-style: italic;
}
.highlighted-content {
  background-color: #999999;
}
.description {
  font-size: 1rem;
  font-weight: normal;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 24px;
}
.mobile {display: none;}
/* Header */
header .container{
    background-color: white;
    padding: 0px 24px;
    height: 64px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
div .logo-group {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header div nav a {
    padding: 8px;
    text-decoration: none;
    color: inherit;
}


/* Banner */
.banner-section {
    background-color: #eeeeee;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px 24px;
}
.banner-left-col {
  width: 60%;
}
.banner-section img {
  width: 100%;
}
.banner-right-col {
  width: 40%;
  height: 100%;
}
.banner-head {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 40px;
    height: 100%;
}
.banner-head h1 {
  margin-top: 24px;
  line-height: 1.2;
}
.banner-head h3 {
  margin-top: 24px;
  line-height: 1.2;
}
.banner-section .banner-button {
    background-color: #542c10;
    color: white;
    font-weight: bold;
    margin-top: 50px;
    width: 70%;
}
.banner-section .banner-button p {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Practice */
.practice-section{
  background-color: #f7f7f7;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px 24px;
}
.practice-left-col{
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin: 18px 18px;
}
.practice-left-col h2{
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 0px;
}
.practice-left-col img{
  width: 100%;
}
.practice-left-col .attribution {
  margin: 20px 0px;
  font-size: .8rem;
  font-weight: 600;
}

.practice-right-col{
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  margin-top: 32px 0px;
}
.practice-right-col .image-block{
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.practice-right-col .image-block-text{
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  line-height: 2;
  width: 65%;
}
.practice-right-col .image-block img {
  width: 35%;
  margin: 16px;
}
.practice-right-col .image-block-text a{
  text-decoration: none;
  margin-top: 16px;
}

/* Learning */
.learning-section{
  background-color: #eeeeee;
  padding: 32px 24px;
}
.learning-section h1 {
  text-align: center;
  margin: 32px auto;
}
.learning-section-blocks{
  /*width: 100%; */
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.learning-section .image-block {
  margin-bottom: 16px;
  margin-right: 32px;
  background-color: white;
  width: 30%;
  min-height: 375px;
}
.learning-section img {
  width: 100%;
  margin-bottom: 16px;
}
.learning-section .image-block-text{
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 76px;
  line-height: 1.5rem;
}

/* Thesis */
.thesis-section {
  background-color: #f7f7f7;
  padding: 32px 24px;
}
.thesis-section h1 {
  text-align: center;
  margin: 32px auto;
}
.thesis-section-blocks{
  width: 100%;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  margin-bottom: 24px;
  margin-right: 16px;
}
.thesis-left-col {
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  width: 58%;
}
.thesis-left-col .videocontainer{

}
.thesis-left-col video{
  max-width: 100%;
}

.thesis-right-col {
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  width: 40%;

}
.thesis-right-col .image-block{
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.thesis-right-col .image-block-text{
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  line-height: 1;
  width: 60%;
  height: 168px;
}
.thesis-right-col .image-block img {
  width: 40%;
  margin-right: 16px;
}

/* Footer */
footer {
  font-size: .75rem;
  border-top: 1px #979797;
  background-color: #f7f7f7;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
